{% extends "app_movies/plantilla_base.html" %}

{% block contenido_base %}
<tbody>
        <p>Bienvenidos a nuestro espacio, somos Florencia A y Florencia L y formamos un equipo con una pasión en común: "EL CINE"</p>
        <p>Si bien en el día a día nos desarrollamos profesionalmente en otros ámbitos, siempre regresamos a nuestros espacio.</p>
        <p>Tenemos como objetivo crear una comunidad donde el debate y respeto sean sus pilares y te invitamos a formar parte de ella.</p>
        <br>
        <p>Florencia A. (Ing. Industrial)</p>
        <a><img src="../media/avatares/florencia_a.jpeg" width="19%"/></a>

        <br>
        <br>
        <p>Florencia L. (Lic. Administración)</p>
        <a><img src="../media/avatares/florencia_l.jpg" width="20%"/></a>
        
        
  

<tbody>

{% endblock contenido_base %}